@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&family=Shrikhand&display=swap");
.padding, .vignette, .accueil .fonctionnement ol li, .accueil .restaurants .liste-restaurants div .description-vignette, .accueil .restaurants .liste-restaurants .page .corps-de-page .plats article .liste-plats a div .description-plat, .page .corps-de-page .plats article .liste-plats a .accueil .restaurants .liste-restaurants div .description-plat, .page .corps-de-page .plats article .liste-plats a div, section, .page header, .page .corps-de-page {
  padding: 1rem;
}

.arrondis, .vignette, .accueil .fonctionnement ol li, .accueil .restaurants .liste-restaurants div .description-vignette, .accueil .restaurants .liste-restaurants .page .corps-de-page .plats article .liste-plats a div .description-plat, .page .corps-de-page .plats article .liste-plats a .accueil .restaurants .liste-restaurants div .description-plat, .page .corps-de-page .plats article .liste-plats a div {
  border-radius: 15px;
}

.ombre, .bouton-cta, .nouveau-bouton, .vignette, .accueil .fonctionnement ol li, .accueil .restaurants .liste-restaurants div .description-vignette, .accueil .restaurants .liste-restaurants .page .corps-de-page .plats article .liste-plats a div .description-plat, .page .corps-de-page .plats article .liste-plats a .accueil .restaurants .liste-restaurants div .description-plat, .page .corps-de-page .plats article .liste-plats a div, .loading-spinner .cercle {
  -webkit-box-shadow: 2px 2px 10px rgba(50, 50, 50, 0.15);
          box-shadow: 2px 2px 10px rgba(50, 50, 50, 0.15);
}

.shrikhand, h1 {
  font-family: 'Shrikhand', cursive;
}

.roboto, body, .accueil h1 {
  font-family: 'Roboto', sans-serif;
}

.alignerCentre, .bouton-cta, .accueil .localisation, .accueil .presentation, .accueil .fonctionnement ol li::before, .accueil .fonctionnement ol li i, .page header, .page .corps-de-page .plats article .liste-plats a div .validateur i {
  text-align: center;
}

.block, .bouton-cta, img, .accueil .presentation h1 span, .accueil .fonctionnement ol li::before, .page figure img, .page .corps-de-page .plats article h2::after, .page footer .logo-footer {
  display: block;
}

.cacher {
  display: none;
}

.relative, .vignette, .accueil .fonctionnement ol li, .accueil .restaurants .liste-restaurants div .description-vignette, .accueil .restaurants .liste-restaurants .page .corps-de-page .plats article .liste-plats a div .description-plat, .page .corps-de-page .plats article .liste-plats a .accueil .restaurants .liste-restaurants div .description-plat, .page .corps-de-page .plats article .liste-plats a div, .accueil .restaurants .liste-restaurants div, .page header, .page .corps-de-page, .page .corps-de-page .titre {
  position: relative;
}

.absolute, .nouveau-bouton, .fa-heart, .loading-spinner .cercle, .accueil .fonctionnement ol li::before, .accueil .fonctionnement ol li i, .page header .fleche-section, .page .corps-de-page .plats article .liste-plats a div span, .page .corps-de-page .plats article .liste-plats a div .validateur {
  position: absolute;
}

.animer, .bouton-cta, .fas.fa-heart, .accueil .fonctionnement ol li, .page .corps-de-page .plats article .liste-plats a div .description-plat, .page .corps-de-page .plats article .liste-plats a div span, .page .corps-de-page .plats article .liste-plats a div .validateur {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

h2 {
  font-weight: 300;
  font-size: 1.3rem;
}

.bouton-cta {
  padding: 0.9rem 1.8rem;
  max-width: 100px;
  margin: 3rem auto 4rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  color: #FFF;
  border-radius: 50px;
}

.bouton-cta:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#E69AE0), to(#B274E1));
  background: linear-gradient(#E69AE0, #B274E1);
  -webkit-box-shadow: 2px 9px 19px 2px rgba(50, 50, 50, 0.35);
          box-shadow: 2px 9px 19px 2px rgba(50, 50, 50, 0.35);
}

.nouveau-bouton {
  z-index: 1;
  top: 1rem;
  right: 1rem;
  left: auto;
  padding: 0.5rem 1rem;
  background-color: #99E2D0;
  color: #088C6B;
  font-style: normal;
  font-weight: 600;
}

.vignette, .accueil .fonctionnement ol li, .accueil .restaurants .liste-restaurants div .description-vignette, .accueil .restaurants .liste-restaurants .page .corps-de-page .plats article .liste-plats a div .description-plat, .page .corps-de-page .plats article .liste-plats a .accueil .restaurants .liste-restaurants div .description-plat, .page .corps-de-page .plats article .liste-plats a div {
  background-color: #FFF;
  margin-bottom: 1rem;
  cursor: pointer;
}

.description-vignette, .page .corps-de-page .plats article .liste-plats a div .description-plat {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 0;
  padding: 0;
  margin: 0;
}

.description-vignette h3, .page .corps-de-page .plats article .liste-plats a div .description-plat h3, .description-vignette p, .page .corps-de-page .plats article .liste-plats a div .description-plat p {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

body {
  background-color: grey;
  margin: 0;
}

a {
  color: #313030;
  text-decoration: none;
}

ul {
  list-style: none;
  padding-left: 0;
}

img {
  max-width: 100%;
}

.fa-heart {
  font-size: 1.5rem;
}

.fas.fa-heart {
  color: #9356DC;
  opacity: 0;
}

.fas.fa-heart:hover {
  opacity: 1;
}

.wrapper, .page {
  width: 400px;
  margin: auto;
}

@media (min-width: 800px) {
  .wrapper, .page {
    width: 800px;
  }
}

@media (min-width: 1100px) {
  .wrapper, .page {
    width: 1100px;
  }
}

.loading-spinner {
  width: 100%;
  height: 100vh;
  background-color: white;
  position: fixed;
  z-index: -2;
  opacity: 0;
  -webkit-animation: fade-in 2s linear 1;
          animation: fade-in 2s linear 1;
}

.loading-spinner .cercle {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(0deg);
          transform: translate(-50%, -50%) rotate(0deg);
  width: 150px;
  height: 150px;
  border: 15px solid #99E2D0;
  border-top: 15px solid #9356DC;
  border-radius: 100%;
  -webkit-animation: loading 1s linear 2;
          animation: loading 1s linear 2;
}

@-webkit-keyframes loading {
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes loading {
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg);
  }
}

@-webkit-keyframes fade-in {
  0%, 70% {
    opacity: 1;
    z-index: 2;
  }
  100% {
    opacity: 0;
    z-index: 2;
  }
}

@keyframes fade-in {
  0%, 70% {
    opacity: 1;
    z-index: 2;
  }
  100% {
    opacity: 0;
    z-index: 2;
  }
}

.accueil h2 {
  font-weight: 600;
}

.accueil .localisation {
  background-color: #bebebe;
  padding: 0.05rem;
}

.accueil .localisation p i {
  margin-right: 1rem;
}

.accueil .presentation {
  background-color: #e2dddd;
}

.accueil .presentation p {
  font-weight: 300;
  max-width: 300px;
  margin: auto;
}

.accueil .presentation .bouton-cta {
  max-width: 180px;
  margin: 2rem auto;
}

.accueil .fonctionnement {
  padding-left: 2rem;
  background-color: #FFF;
}

.accueil .fonctionnement ol {
  padding-left: 0;
}

.accueil .fonctionnement ol li {
  padding: 1.5rem;
  background-color: #e2dddd;
  list-style: none;
}

.accueil .fonctionnement ol li::before {
  padding: 0.3rem 0.6rem 0.2rem;
  font-size: 0.9rem;
  margin-left: -2.1rem;
  background-color: #9356DC;
  color: #FFF;
  border-radius: 100%;
}

.accueil .fonctionnement ol li::before:nth-of-type(1) {
  content: "1";
}

.accueil .fonctionnement ol li::before:nth-of-type(2) {
  content: "2";
}

.accueil .fonctionnement ol li::before:nth-of-type(3) {
  content: "3";
}

.accueil .fonctionnement ol li:nth-of-type(1)::before {
  content: "1";
}

.accueil .fonctionnement ol li:nth-of-type(2)::before {
  content: "2";
}

.accueil .fonctionnement ol li:nth-of-type(3)::before {
  content: "3";
}

.accueil .fonctionnement ol li i {
  width: 20px;
  left: 10%;
  top: 40%;
  color: #7B7B7B;
  font-size: 1.3rem;
}

.accueil .fonctionnement ol li h3 {
  padding-left: 75px;
  margin: 0;
  font-size: 1rem;
  font-weight: 500;
}

.accueil .fonctionnement ol li:hover {
  background-color: #9256dc33;
}

.accueil .fonctionnement ol li:hover i {
  color: #9356DC;
}

.accueil .restaurants {
  background-color: #e2dddd;
}

.accueil .restaurants .liste-restaurants div img {
  max-height: 200px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.accueil .restaurants .liste-restaurants div .vignette, .accueil .restaurants .liste-restaurants div .fonctionnement ol li, .accueil .fonctionnement ol .restaurants .liste-restaurants div li, .accueil .restaurants .liste-restaurants div .description-vignette, .accueil .restaurants .liste-restaurants .page .corps-de-page .plats article .liste-plats a div .description-plat, .page .corps-de-page .plats article .liste-plats a .accueil .restaurants .liste-restaurants div .description-plat, .accueil .restaurants .liste-restaurants div .page .corps-de-page .plats article .liste-plats a div, .page .corps-de-page .plats article .liste-plats a .accueil .restaurants .liste-restaurants div div {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.accueil .restaurants .liste-restaurants div .description-vignette .fa-heart, .accueil .restaurants .liste-restaurants .page .corps-de-page .plats article .liste-plats a div .description-plat .fa-heart, .page .corps-de-page .plats article .liste-plats a .accueil .restaurants .liste-restaurants div .description-plat .fa-heart {
  right: 1.5rem;
  top: 25%;
}

@media (min-width: 800px) {
  .accueil .localisation {
    padding: 2rem;
  }
  .accueil .localisation p {
    font-size: 1.2rem;
  }
  .accueil .fonctionnement ol li h3 {
    padding-left: 0;
    text-align: center;
  }
  .accueil .fonctionnement ol li i {
    left: 30%;
  }
  .accueil .restaurants .liste-restaurants {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .accueil .restaurants .liste-restaurants .restaurant-item {
    width: 45%;
    margin: 0.5rem 1rem;
  }
  .accueil .restaurants .liste-restaurants .restaurant-item .description-vignette, .accueil .restaurants .liste-restaurants .restaurant-item .page .corps-de-page .plats article .liste-plats a div .description-plat, .page .corps-de-page .plats article .liste-plats a div .accueil .restaurants .liste-restaurants .restaurant-item .description-plat {
    padding: 2rem;
  }
}

@media (min-width: 1100px) {
  .accueil .fonctionnement ol li h3 {
    padding-left: 0;
    text-align: center;
  }
  .accueil .fonctionnement ol li i {
    left: 35%;
  }
  .accueil .restaurants .liste-restaurants .restaurants-item .description-vignette, .accueil .restaurants .liste-restaurants .restaurants-item .page .corps-de-page .plats article .liste-plats a div .description-plat, .page .corps-de-page .plats article .liste-plats a div .accueil .restaurants .liste-restaurants .restaurants-item .description-plat {
    width: 408px;
  }
}

.page header {
  background-color: #FFF;
}

.page header img {
  margin: auto;
}

.page header .fleche-section {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.page header .fleche-section i {
  width: 25px;
}

.page figure {
  margin: 0;
}

.page figure img {
  width: 100%;
  max-height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (min-width: 800px) {
  .page figure img {
    max-height: 400px;
  }
}

.page .corps-de-page {
  padding-top: 0.7rem;
  z-index: 1;
  margin-top: -4rem;
  background-color: #e2dddd;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

.page .corps-de-page .titre h1 {
  font-size: 2rem;
}

.page .corps-de-page .titre a .fa-heart {
  width: 20px;
  height: 20px;
  top: 0.7rem;
  right: 1.5rem;
  font-size: 1.5rem;
}

.page .corps-de-page .plats article {
  -webkit-animation: apparition-article ease 1;
          animation: apparition-article ease 1;
}

.page .corps-de-page .plats article:nth-child(1) {
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
}

.page .corps-de-page .plats article:nth-child(2) {
  -webkit-animation-duration: 1.3s;
          animation-duration: 1.3s;
}

.page .corps-de-page .plats article:nth-child(3) {
  -webkit-animation-duration: 1.8s;
          animation-duration: 1.8s;
}

.page .corps-de-page .plats article h2 {
  text-transform: uppercase;
}

.page .corps-de-page .plats article h2::after {
  content: "";
  width: 60px;
  height: 4px;
  margin-top: 5px;
  background-color: #99E2D0;
}

.page .corps-de-page .plats article .liste-plats a div {
  overflow: hidden;
}

.page .corps-de-page .plats article .liste-plats a div .description-plat {
  width: 100%;
  white-space: nowrap;
}

.page .corps-de-page .plats article .liste-plats a div span {
  bottom: 1rem;
  right: 1rem;
  font-weight: 600;
}

.page .corps-de-page .plats article .liste-plats a div .validateur {
  top: 0;
  margin: 0;
  width: 2rem;
  height: 43px;
  right: 0;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  background-color: #99E2D0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.page .corps-de-page .plats article .liste-plats a div .validateur i {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(0deg);
          transform: translate(-50%, -50%) rotate(0deg);
  width: 24px;
  height: 20px;
  padding-top: 4px;
  border-radius: 100%;
  background-color: #FFF;
  color: #99E2D0;
}

@-webkit-keyframes icone {
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes icone {
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg);
  }
}

.page .corps-de-page .plats article .liste-plats a div:hover .description-plat {
  width: 60%;
  overflow: hidden;
}

.page .corps-de-page .plats article .liste-plats a div:hover span {
  right: 5rem;
}

.page .corps-de-page .plats article .liste-plats a div:hover .validateur {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.page .corps-de-page .plats article .liste-plats a div:hover .validateur i {
  -webkit-animation: icone 0.6s ease 1;
          animation: icone 0.6s ease 1;
}

@-webkit-keyframes apparition-article {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    opacity: 1;
  }
}

@keyframes apparition-article {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    opacity: 1;
  }
}

@media (min-width: 800px) {
  .page .corps-de-page h1, .page .corps-de-page h2 {
    margin-left: 4rem;
  }
  .page .corps-de-page .plats article .liste-plats a div {
    width: 80%;
    margin: 0 auto 1rem;
  }
}

@media (min-width: 1100px) {
  .page .corps-de-page h1, .page .corps-de-page h2 {
    margin-left: 0;
    text-align: center;
  }
  .page .corps-de-page h2::after {
    margin: auto;
  }
  .page .corps-de-page .plats {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .page .corps-de-page .plats article .liste-plats a div {
    width: 310px;
    padding: 2rem 1rem;
  }
}

.page footer {
  padding: 0.5rem 1rem;
  background-color: #313030;
  color: #FFF;
  font-size: 0.9rem;
  font-weight: 300;
}

.page footer .logo-footer {
  width: 150px;
  margin-top: 1rem;
}

.page footer ul li {
  margin: 0.5rem 0;
}

.page footer ul li a {
  color: #FFF;
}

.page footer ul li a i {
  width: 18px;
  color: #FFF;
  margin-right: 0.5rem;
  text-align: center;
}

.page footer ul li a:hover {
  color: #99E2D0;
}

@media (min-width: 800px) {
  .page footer img, .page footer ul {
    margin-left: 4rem;
  }
}
/*# sourceMappingURL=style.css.map */