


body{@extend .roboto;}



// Annonce des taille d'écrans


$smartphone:400px;
$tablette:800px;
$desktop:1100px;


// Annonce des classes de mise en forme pour les composants


// Annonce des couleurs


$noir: rgb(49, 48, 48);
$blanc:#FFF;
$gris:#e2dddd;

$primaire:#9356DC;
$secondaire:#FF79DA;
$tertiaire:#99E2D0;

$degrade-violet:linear-gradient(#E69AE0, #B274E1);
$degrade-violet-inverse:linear-gradient(#B274E1, #E69AE0);


// Annonce des marges et padding et autres mise en forme
.padding{padding: 1rem;}
$border-radius-value:15px; .arrondis{border-radius: $border-radius-value;}
.ombre{box-shadow: 2px 2px 2px rgba(50, 50, 50, 0.15);}


// Annonce des textes et des polices d'écriture
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&family=Shrikhand&display=swap');

.shrikhand{font-family: 'Shrikhand', cursive;}
.roboto{font-family: 'Roboto', sans-serif;}

.alignerCentre{text-align: center;}



// Annonce des display et des positions


.block{display: block;}
.cacher{display: none;}

.relative{position: relative;}
.absolute{position: absolute;}


// Annonce des animations

.animer{transition: 0.5s;}



// Annonce des composants


h1{@extend.shrikhand;}
h2{font-weight: 300; font-size: 1.3rem;}



.bouton-cta{padding: 0.9rem 1.8rem; @extend .block; max-width: 100px; margin: 3rem auto 4rem; @extend .alignerCentre; background: linear-gradient($secondaire, $primaire); @extend .ombre; color: $blanc; border-radius: 50px; @extend .animer;
    &:hover{background: $degrade-violet;     box-shadow: 2px 9px 19px 2px rgba(50, 50, 50, 0.35);}
}
.nouveau-bouton{@extend .absolute; z-index: 1; top: 1rem; right: 1rem; left: auto; padding: 0.5rem 1rem; 
    background-color: $tertiaire; @extend .ombre; color: #088C6B; font-style: normal; font-weight: 600;
}

.vignette{@extend .padding; @extend .relative; @extend .ombre; @extend .arrondis; background-color: $blanc; margin-bottom: 1rem; cursor: pointer;}
.description-vignette{h3, p{margin: 0;} box-shadow: none; padding: 0; margin: 0;}



// Généralité html


body{background-color: grey; margin: 0;}
section{@extend .padding;}
a{color: $noir; text-decoration: none;}
ul{list-style: none; padding-left: 0;}
img{max-width: 100%; @extend .block;}


.fa-heart{@extend .absolute; font-size: 1.5rem;}

.fas.fa-heart{color: $primaire; opacity: 0; @extend .animer;
    &:hover{opacity: 1;}
}


// Annonce des classes préfaites


.wrapper{
    width: $smartphone; margin: auto;

    @media(min-width: $tablette){width: $tablette;}
    @media(min-width: $desktop){width: $desktop;}
}



// Template loading spinner

.loading-spinner{width: 100%; height: 100vh; background-color: white; position: fixed; z-index: -2; opacity: 0; animation: fade-in 2s linear 1;
    .cercle{@extend .absolute; top: 50%; left: 50%; transform: translate(-50%, -50%) rotate(0deg); width: 150px; height: 150px; @extend .ombre;
        border: 15px solid $tertiaire; border-top: 15px solid $primaire; border-radius: 100%;
        animation: loading 1s linear 2;
    }
}
@keyframes loading{
    100%{transform: translate(-50%, -50%) rotate(360deg); z-index: 2;}
}
@keyframes fade-in{
    0%, 70%{opacity: 1; z-index: 2;}
    100%{opacity: 0; z-index: 2;}
}



// Template page d'accueil

.accueil{

    h1{@extend .roboto;}
    h2{font-weight: 600;}

    .localisation{background-color: #bebebe; @extend .alignerCentre; padding: 0.05rem;
    
        p i{margin-right: 1rem;}
    }

    .presentation{background-color: $gris;
        @extend .alignerCentre;

        h1 span{@extend .block;}
        p{font-weight: 300; max-width: 300px; margin: auto;}
        .bouton-cta{max-width: 180px; margin: 2rem auto}
    }

    .fonctionnement{padding-left: 2rem; background-color: $blanc;
    
        ol{
            padding-left: 0;
            
            li{@extend .vignette; padding: 1.5rem; @extend .relative; background-color: $gris; list-style: none;

                &::before{@extend .block; padding: 0.3rem 0.6rem 0.2rem;  @extend .absolute; font-size: 0.9rem; @extend .alignerCentre; margin-left: -2.1rem;
                    background-color: $primaire; color: $blanc; border-radius: 100%;
                
                    &:nth-of-type(1){content: "1";}
                    &:nth-of-type(2){content: "2";}
                    &:nth-of-type(3){content: "3";}              
                }

                &:nth-of-type(1)::before{content: "1";}
                &:nth-of-type(2)::before{content: "2";}
                &:nth-of-type(3)::before{content: "3";}
       
                i{width: 20px; left: 10%; @extend .absolute; top: 40%; color: #7B7B7B; @extend .alignerCentre; font-size: 1.3rem;}
                h3{padding-left: 100px; margin: 0; font-size: 1rem; font-weight: 500;}
            }
        } 

    }

    .restaurants{background-color: $gris;
    
        .liste-restaurants div{ @extend .relative;
        
            img{max-height: 200px; width: 100%; object-fit: cover; border-top-left-radius: $border-radius-value; border-top-right-radius: $border-radius-value;}
            .vignette{border-top-left-radius: 0; border-top-right-radius: 0;}
            .description-vignette{@extend .vignette;
            
                .fa-heart{right: 1.5rem; top: 25%;}
            }
        }
    
    }

    @media(min-width: $tablette){
        .localisation{padding: 2rem;
            p{font-size: 1.2rem;}
        }
        .fonctionnement{
            ol li{
                h3{padding-left: 0; text-align: center;}
                i{left: 30%;}
            } 
        }
        .restaurants .liste-restaurants{ display: flex; flex-wrap: wrap; justify-content: center;

            .restaurant-item{ width: 45%; margin: 0.5rem 1rem;
                .description-vignette{padding: 2rem;}
            } 
        } 
    }
    @media(min-width: $desktop){
        .fonctionnement{
            ol li{
                h3{padding-left: 0; text-align: center;}
                i{left: 35%;}
            } 
        }
        .restaurants .liste-restaurants .restaurants-item .description-vignette{width: 408px;}
    }

}






// Template page restaurant



.page {@extend .wrapper;



    // Section header



    header{ @extend .relative; @extend .alignerCentre; @extend .padding; background-color: $blanc;

        img{margin: auto;}
    
        .fleche-section{@extend .absolute; top: 50%; transform: translateY(-50%);
            i{width: 25px;}
        }
    }



    // Section image


    figure {margin: 0;   
        img{@extend .block; width: 100%; max-height: 300px; object-fit: cover;
            @media(min-width: $tablette){max-height: 400px;}
        }
    }




    // Section corps de page




    .corps-de-page{ @extend .padding; padding-top: 0.7rem; @extend .relative; z-index: 1; margin-top: -4rem; background-color: $gris; border-top-left-radius: 50px; border-top-right-radius: 50px;

        .titre{ @extend .relative;
            h1{font-size: 2rem;}
           a .fa-heart{width: 20px; height: 20px; top: 0.7rem; right: 1.5rem; font-size: 1.5rem;}
        }

        .plats article{

            h2{text-transform: uppercase;
                &::after{@extend .block; content: ""; width: 60px; height: 4px; margin-top: 5px; background-color: $tertiaire;}
            }

            .liste-plats{
                a {
                    div{@extend .vignette;
    
                        .description-plat{@extend .description-vignette;}
                        span{@extend .absolute; bottom: 1rem; right: 1rem; font-weight: 600;}                                    
                    }
                }
            }
        }

        @media(min-width: $tablette){
            h1, h2{margin-left: 4rem;}
            .plats article .liste-plats a div{width: 80%; margin: 0 auto 1rem;}}

        @media(min-width: $desktop){
            h1, h2{margin-left: 0; text-align: center;}
            h2::after{margin: auto;}
            .plats{display: flex; justify-content: space-between;
                article .liste-plats{
                    a div{width: 310px; padding: 2rem 1rem;}
                }
            } 
        }

     }


    // Section footer

    footer{padding: 0.5rem 1rem; background-color: $noir; color: $blanc; font-size: 0.9rem; font-weight: 300;
    
        .logo-footer{width: 150px; @extend .block; margin-top: 1rem;}
        
        ul li { margin: 0.5rem 0;      
            a{color: $blanc;            
                i{width: 18px; color: $blanc; margin-right: 0.5rem; text-align: center;}
            } 
        }
        
        @media(min-width: $tablette){
            img, ul{margin-left: 4rem;}
        }
    }

}