



// Annonce des taille d'écrans


$smartphone:450px;



// Généralité html



body{background-color: grey; margin: 0;}
a{text-decoration: none; color: $noir !important;}
ul{list-style: none; padding-left: 0;}






// Annonce des classes préfaites


.wrapper{
    width: $smartphone; margin: auto;
}








// Annonce des classes de mise en forme pour les composants


    // Annonce des couleurs


    $blanc:#FFF;
    $gris:#e2dddd;
    $noir: rgb(49, 48, 48);

    $primaire:#9356DC;
    $secondaire:#FF79DA;
    $tertiaire:#99E2D0;


    // Annonce des marges et padding et autres mise en forme
    .padding{padding: 1rem;}
    .arrondis{border-radius: 20px;}
    .ombre{box-shadow: 2px 2px 2px rgba(50, 50, 50, 0.5);}


    // Annonce des textes et des polices d'écriture
    .alignerCentre{text-align: center;}

    // .shrikhand{font-family: ;}
    // .roboto{font-family: ;}


    // Annonce des display et des positions


    .block{display: block;}

    .relative{position: relative;}
    .absolute{position: absolute;}




// Annonce des composants



.bouton-cta{@extend .ombre; background: linear-gradient($secondaire, rgb(189, 83, 189)); color: $blanc; padding: 0.7rem 2rem; border-radius: 50px; @extend .block; max-width: 100px; @extend .alignerCentre; margin: auto;}











// Cette partie traite les sections communes à toutes les pages






.page {@extend .wrapper;






    // Section header






    header{ @extend .relative; @extend .alignerCentre; @extend .padding; background-color: $blanc;
    
        .fleche-section{@extend .absolute; top: 50%; transform: translateY(-50%); width: 15px; height: 15px; 
            border-left: 4px solid $noir; border-bottom: 4px solid $noir;  background-color: rgba(50, 50, 50, 0.5);
            transform: rotate(45deg); transform-origin: right;
        
            .trait-horizontal{@extend .block; @extend .absolute; top: 50%; transform: translateY(-50%) rotate(-45deg); height: 4px; width: 30px; background-color: $noir;  }
           
        }
    
    }


    
    
    
    // Section corps de page




    .corps-de-page{ @extend .padding; background-color: $gris;

        .titre{ @extend .relative;
            span{@extend .absolute;}
        }


        article{

            
            h2{text-transform: uppercase;
            
                &::after{@extend .block; content: ""; width: 50px; height: 4px; background-color: $tertiaire;}
            }


            ul a li{@extend .padding; @extend .ombre; @extend .arrondis; background-color: $gris-clair; margin-bottom: 1rem;
            
                h3, p{margin: 0;}
            
            }

        }


    }




    // Section footer


    footer{padding: 0.5rem 1rem; background-color: $noir; color: $blanc;
    
    
    }



}

